.landing-page-wrapper {
  width: 100vw;
  height: 100vh;
  background: #000 url("../../assets/img/rv-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.button-container {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 2% 0 0 65%;
  float: right;
}

.intro-logo {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 10%;
}

h1 {
  color: #ffc107;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 48px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.landing-page-wrapper button {
  margin-bottom: 20px;
  width: 200px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin-bottom: 10%;
}

p {
  font-size: 1.6rem;
  color: white;
}

.about {
  color: white;
  font-size: 1.2rem;
}
