.landing-page-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #000 url("../../assets/img/rv-bg.jpg") no-repeat bottom right
    fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  justify-content: flex-end;
}

.button-container button {
  margin-right: 25px;
  width: 10%;
}

.intro-logo {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 10%;
}

h1 {
  color: #ffc107;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 48px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.landing-page-wrapper button {
  margin-bottom: 20px;
  width: 200px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.intro p {
  font-size: 1.6rem;
  color: white;
  background: rgb(10, 10, 10, 0.6);
  padding: 20px;
  border-radius: 0.5rem;
}

.about {
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 1000px) {

  .button-container {
    width: 75%;
    margin: 5% auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .button-container button {
    width: 100%;
  }

  .intro {
    width: 90%;
  }
}