.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.5s;
}

.open{
    width: 360px;
}
.overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay.close .overlay-content{
    opacity: 0;
}
.overlay.open .overlay-content{
    
}
.overlay .closebtn, .overlay .openbtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.close-button-wrap{
 width: 100%;
 height: 120px;
}

.fa-arrow-circle-left{
    margin: 8px 0 8px 85%;
    background-color: #0f0f0f;
    color: white;
    font-size: 2.1rem;
}
.fa-arrow-circle-left:hover{
    cursor:pointer;
}

.sidebar-tab{
    color: white;
    background-color: #6C757D;
    margin: 1px;
    padding: 8px;
    white-space: nowrap;
}
@media(max-width: 500px){
    .sidebar-tab{
        padding: 8px 3px;
    }
}
.sidebar-tabs{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    cursor: pointer;
    margin: -30px 0 10px 0;
    flex-wrap: wrap;
}
.selected{
    color: white;
    background-color: #6C757D;
    border-bottom: 3px solid #ffc107;
    margin: 1px;
    padding: 8px 8px 5px 8px;
    
}
.off{
    display: none;
}
.on{
    display: block;
}
.route-form{
    padding: 6px;
    margin: 35px 5px 5px 5px;
}
.route-input{
    margin-bottom: 22px;
    border-radius: 4px;
    padding: 10px;
}
#route-button{
    width: 120px;
    margin-left: 123px;
    border-radius: 4px;
}
.login-to-add{
    margin-top: 60px;
    padding: 5px;
}
.route-tab{
    margin-left: 12px;
}



/* @media (max-width: 900px){
    .open{
        width: 320px;
    }
    #route-button{
       margin-left: 60px; 
    }
} */
@media (max-width: 500px){
    .open{
        width: 265px;
    }
    #route-button{
        margin-left: 100px; 
     }
}

