.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.open{
    width: 25%;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 25%;
    text-align: center;
    margin-top: 30px;
}

.overlay .closebtn, .overlay .openbtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}