.fa-arrow-circle-right{
  font-size: 2.1rem;
  color: white;
  margin: 2px 0;
}
.open-button-wrap{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  overflow-y: hidden;
}

.logout-btn{
  background-color: #ffc107;
  color: black;
  padding: 2px 12px;
  margin: 6px 0;
  border-radius: 4px;
  cursor: pointer;
}
.logout-btn:hover{
  color: black;
  text-decoration: none;
}
#map{
  height: calc(100vh - 40px);
}
.routing-with{
  display: flex;
  justify-content: flex-start;
}
.routing-with > p{
  margin:  6px 0 6px 16px;
}
.routing-with > span{
  margin:  6px 4px;
  color: #ffc107;
}
.route-loading{
  font-size: 2rem;
  margin: 40px;
  color: #ffc107
}