.auth-wrapper {
  width: 100vw;
  height: 100vh;
  background: #000 url('../../assets/img/rv-bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-wrapper{
  width: 400px;
  display: flex;
  flex-direction: column;
}
.top-buttons{
  display: flex;
  flex-direction: row;
  background-color:;
  justify-content: space-around;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin: 0;
}
.top-buttons button{
  width: 50%;
}
label{
  color: white;
  align-self: flex-start;
  margin-left: 0;
}

form{
  background: rgb(10, 10, 10, 0.6);
  box-shadow:;
  text-align: left;
  padding: 16px;

  border:;
  border-top: 0;
}
input{
  margin-bottom: 7px;
}
form button{
  margin-left: 50%;
  width: 50%;
  margin-bottom: -10px;
  margin-top: 18px;
}
.form-toggle{
  font-size: 1.2rem;
  letter-spacing: 1.25px;
  cursor: pointer;
  width: 50%;
  background-color: rgb(10, 10, 10, 0.6);
  color: #ffc107;
  margin: 0;
  padding: 20px 0 17.5px;
  border-bottom: 0.5px grey solid;

}

.active-tab{
  border-bottom: 2px solid #ffc107;
  background: rgb(10, 10, 10, 0.6);
  padding: 20px 0;

}
