.auth-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #000 url("../../assets/img/rv-bg.jpg") no-repeat bottom right
    fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.image-link {
  width: 80px;
  position: fixed;
  left: 20px;
  padding-top: 20px;
}

.logo-image {
  width: 80px;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 7.5%;
}
.top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin: 0;
}
.top-buttons p {
  width: 50%;
}
label {
  color: white;
  align-self: flex-start;
  margin-left: 0;
}

form {
  background-color: rgb(15, 15, 15, 0.6);
  text-align: left;
  padding: 16px;
  border-top: 0;
}
input {
  margin-bottom: 7px;
}
form button {
  margin-left: 50%;
  width: 50%;
  margin-bottom: -10px;
  margin-top: 18px;
}
.form-toggle {
  font-size: 1.2rem;
  letter-spacing: 1.25px;
  cursor: pointer;
  width: 50%;
  background-color: rgb(15, 15, 15, 0.6);
  color: #ffc107;
  margin: 0;
  padding: 20px 0 17.5px;
  border-bottom: 0.5px #6C757D solid;
}

.active-tab {
  border-bottom: 2px solid #ffc107;
  background-color: rgb(15, 15, 15, 0.6);
  padding: 20px 0;
}

.error {
  font-size: 0.8rem;
  color: rgb(255, 159, 159);
}

.info {
  color: #ffc107;
}

@media (max-width: 600px) {

  .image-link {
    width: 100%;
    position: static;
  }

  .logo-image {
    width: 25%;
    margin: auto;
  }

  .form-wrapper {
    width: 75%;
    margin-top: 15%;
  }

  .form-wrapper button {
    width: 100%;
    margin: 8% auto;
  }

  .top-buttons {
    flex-direction: column;
  }

  .top-buttons p {
    width: 100%;
  }
}
.auth-loading{
  font-size: 4rem;
  margin: 40px;
  color: #ffc107
}
